.common-footer {
	position: relative;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: center;

	text-align: center;

	.attributions {
		position: relative;
		display: flex;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
		align-items: center;

		color: #ddd;
		font-size: .75rem;

		a {
			color: #ccc;
		}
	}

	@media (max-width: 1024px) {
	}

	@media (max-aspect-ratio: 13/9) and (orientation: portrait), (max-width: 800px) {
	}
}

.common-footer-light {
	@extend .common-footer !optional;
}
