.common-storage-provider {
	position: relative;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
	justify-content: flex-start;
	
	.storage-provider-icon {
		margin: .5rem;
		width: 5rem;
		height: 5rem;
		border: 2px solid #ddd;
		border-radius: .5rem;
		cursor: pointer;

		background-size: contain;
		background-repeat: no-repeat;
		background-position: right bottom;

		&:hover,
		&.active {
			border-color: #555;
		}

		&:hover .storage-provider-name {
			transform: translateY(-.35rem);
			transition: 0.2s;
		}

		.storage-provider-name {
			position: absolute;
			bottom: 0.65rem;
			text-align: center;
			width: 5rem;
			border-radius: .5rem;
			background-color: rgba(255,255,255,.75);
			color: #333;
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 100%;

			&:hover {
				transform: translateY(-.35rem);
				transition: 0.2s;
			}
		}
	}

	@media (max-width: 1024px) {
	}

	@media (max-aspect-ratio: 13/9) and (orientation: portrait), (max-width: 800px) {
	}
}

.common-storage-provider-light {
	@extend .common-storage-provider !optional;

	.storage-provider-icon {
		background-image: url('~@/assets/storage-provider.png');
	}
}
